<ion-header>

  <ion-toolbar>
    <ion-title>{{article.Name}}

     
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>




<ion-content>

  <div id="contentarticle"  >
    <div class="articleimg">

      <img  class="cardimgArticle" src="{{url + 'get-image/'+  article.imagen}}" /> 

    </div>
    <h1 data-hook="product-title" class="titleArticle"></h1>
    <h4 >{{article.Name}}</h4 >
      <h5>{{article.Precio__c}}€</h5>
        <h3>PRODUCT INFO</h3>
      <p>{{article.Descripcion__c}}</p>
  </div>
  <a class="addCart">Añadir a la cesta</a>

  <div id="descripcion">
<p></p>
  </div>
</ion-content>
